In [1]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
# Ans:

test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as file:
    file.write(test1)

In [2]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
# Ans:
with open('test.txt', 'r') as file:
    test2 = file.read()
print(test2)

This is a test of the emergency text system,

In [3]:
if test1==test2:
    print("Both are same")

Both are same

In [4]:
#3. Create a CSV file called books.csv by using these lines:

#    title,author,year

#    The Weirdstone of Brisingamen,Alan Garner,1960

#    Perdido Street Station,China Miéville,2000

#    Thud!,Terry Pratchett,2005

#    The Spellman Files,Lisa Lutz,2007

#    Small Gods,Terry Pratchett,1992
# Ans:
import csv

rows = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

In [6]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
#   these fields: title (text), author (text), and year (integer).
# Ams:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

In [7]:
#5. Read books.csv and insert its data into the book table.
# Ans:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

In [8]:
#6. Select and print the title column from the book table in alphabetical order.
# Ans:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [9]:
#7. From the book table, select and print all columns in the order of publication.
# Ans:
c.execute('select title, author,year from books order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station  China MiÃ©ville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

In [10]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
# Ans:
import sqlalchemy
conn = sqlalchemy.create_engine("sqlite:///books.db")
rows = conn.execute('select * from books')
for rows in rows:
    print(rows)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [15]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. 
#   Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). 
#   Print all the fields for test.
# Ans:
!pip install redis

Requirement already satisfied: redis in /opt/conda/lib/python3.10/site-packages (4.5.5)
Requirement already satisfied: async-timeout>=4.0.2 in /opt/conda/lib/python3.10/site-packages (from redis) (4.0.2)

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
#10. Increment the count field of test and print it.
# Ans:
conn.hincrby('test', 'count', 3)