In [38]:
#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
#     the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
#     [1980, 1981, 1982, 1983, 1984, 1985].

# Ans: 
years_list=[]
for i in range(2001,2006+1):
    years_list.append(i)
print(years_list)

[2001, 2002, 2003, 2004, 2005, 2006]

In [39]:
#2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
# Ans: 
print(years_list)
years_list[2]

[2001, 2002, 2003, 2004, 2005, 2006]

2003

In [40]:
#3. In the years list, which year were you the oldest?
# Ans: 
max(years_list)

2006

In [41]:
#4.Make a list called things with these three strings as elements: 'mozzarella', 'cinderella','salmonella'.
# Ans: 
things=list['mozzarella', 'cinderella','salmonella']
print(things)

list['mozzarella', 'cinderella', 'salmonella']

In [42]:
#5.Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?
# Ans: 
things=['mozzarella', 'cinderella','salmonella']
for i in range(len(things)):
    things[i] = things[i].capitalize()
print(things)

['Mozzarella', 'Cinderella', 'Salmonella']

In [43]:
#6.Make a surprise list with the elements "Groucho", "Chico", and "Harpo".
# Ans: 
surprise=["Groucho", "Chico","Harpo"]
print(surprise)

['Groucho', 'Chico', 'Harpo']

In [44]:
#7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
# Ans: 
last_element = surprise[-1].lower()
reversed_element = last_element[::-1]
capitalized_element = reversed_element.capitalize()
print(capitalized_element)

Oprah

In [45]:
#8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.
# Ans: 
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [46]:
#9. Write the French word for walrus in your three-word dictionary e2f.
# Ans: 
e2f['walrus']

'morse'

In [47]:
#10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
# Ans: 
f2e = {key:value for value,key in e2f.items()}
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [48]:
#11. Print the English version of the French word chien using f2e.
# Ans: 
f2e["chien"]

'dog'

In [49]:
#12. Make and print a set of English words from the keys in e2f.
# Ans:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

In [50]:
#13.Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. 
#   Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'.
#   Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. 
#   Make all the other keys refer to empty dictionaries.

life = {'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'],'octopi': {},'emus': {}},'plants': {},'other': {}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [51]:
#14. Print the top-level keys of life.
# Ans: 
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

In [52]:
#15. Print the keys for life['animals'].
# Ans:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

In [54]:
#16. Print the values for life['animals']['cats']
# Ans: 
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']